<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterOfPage.master.cs" Inherits="MasterOfPage" %>

<!DOCTYPE html>

<html>
<head runat="server">

    <table class="underline">
       
        <tr>
            <td><h1 class="test">מטבח הבית</h1></td>
            <td class="list"><a class="menu" href="HomePage.aspx" >דף בית</a></td>
            <%if (Session["user"]!="yes" || Session["admin"] !="yes") {  
                    %>
            <td class="list"><a class="menu" href="SignUp.aspx">יצירת משתמש</a></td>
            <%} %>
            <td class="list"><a class="menu" href="Login.aspx">כניסה</a></td>
            <td class="list"><a class="menu" href="Update%20Info.aspx">דף אודות</a></td>
            <td class="list"><a class="menu" href="Galary.aspx">גלריה</a></td>
            <td class="list"><a class="menu" href="Advance%20Search.aspx">חיפוש מורכב</a></td>
            <td class="list"><a class="menu" href="Update%20Info.aspx">עדכון פרטים</a></td>
             <%if (Session["admin"] =="yes") {  
                   %>
            <td class="list"><a class="menu" href="adminPage.aspx">דף מנהל</a></td>
            <%} %>
            <td class="list"><a class="menu" href="Search.aspx">חיפוש</a></td>
             <%if (Session["user"]=="yes" || Session["admin"] =="yes") {  
         %>
             <td class="list"><a class="menu" href="Logout.aspx">התנתקות</a></td>
             <%} %>
            <td style="width:100%"  class="list"><a class="menu" href="Galary.aspx">גלריה</a></td>


        </tr>

    </table>
  

    

    <style>
        body {
            font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
            background-color:seashell
        }
        a.menu {
          
            float: right;
            margin-right: 15px;
            text-decoration: none;
            color: darkblue;
            font-weight: bold;
            
        }
        h1.test {
            font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
            white-space: nowrap;
            text-align: right;

          
        }
        p {
            font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
        }
        td.list {
white-space: nowrap;
        }
        table.underline {
            width: 100%;
            border-bottom: 2px solid black;
            border-collapse: collapse;
            direction:rtl;
            
           
        }
        
        
        

      
    </style>
    <title></title>
        
    <asp:ContentPlaceHolder id="head" runat="server">
        
    </asp:ContentPlaceHolder>

</head>
<body>
    <h3 style=" color:black;direction:rtl;">שלום <%=Session["name"] %></h3>
    <div>
       
        <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
            
        </asp:ContentPlaceHolder>

    </div>
 
       
</body>
    
</html>
